cloud_id                 = "example"
folder_id                = "example"
zone                     = "example"
image_id                 = "example"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "example"
service_account_key_file = "example"
private_key_path         = "~/.ssh/appuser"